body {
    background: #0d1117;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.summary .header {
    margin-bottom: 10px;
}

.whitespace {
    color: rgba(0, 0, 0, 0);
}

.file {
    color: rgba(255, 255, 255, 0.7);
    background: #6e76811a;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.file-name {
    padding: 10px;
    color: #8b949e;
    border-bottom: 1px solid #8b949e;
}

.file-lines-container {
    padding: 10px 0;
    border-radius: 5px;
    background: #0d1117;
}

.file-line {
    padding: 0 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.green {
    background: #00b2764c;
}

.red {
    background: #e539354c;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

.progress-bar {
    overflow: hidden;
    border-radius: 4px;
    height: 8px;
    background: #e53935;
}

.progress {
    height: 100%;
    background: #00b276;
}

.c-green {
    color: #00b276;
}

.c-red {
    color: #e53935;
}

/* Remove default bullets */
ul, .tree {
    list-style-type: none;
}



/* Remove margins and padding from the parent ul */
.tree {
    margin: 24px 0 0 0;
    padding: 0;
}

.tree .root {
    font-size: 24px;
    font-weight: bold;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: white;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}